.keep-c-toggle-view {
    width: 100%;
    margin-left: 93%;
    cursor: pointer;
}

.fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
     Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
}

button{
  background-color: primary;
}

mat-toolbar {
  position: sticky;
  top: 1px;
  width: 100%;
  background-color: #002b49;
}
.dropDown{
  position: center;
  top: 1px;
  width: 100%;
  margin-left: 10%;
}