<mat-toolbar color="primary">
  <span>NorthWestern Mutual | UND</span>

  <!-- This fills the remaining space of the current row -->
  
    <!--<button (click) = ParseXmlToJson()> ParseXmlToJson</button>-->
    <!--<input type = "text" id = "Search" name = "Search" placeholder="Enter screen number to open" #searchInput>
        <button (click)='OpenScreen(searchInput.value, $event)' (onChanges)='OpenScreen(searchInput.value, $event)'>Toggle it</button>-->
    <!--<button (click)='xpandStatus=(xpandStatus)?false:true'>Toggle it</button>-->
  <!--<div class="dropDown">
    <mat-form-field>
      <select matNativeControl placeholder="Select Panal" [(ngModel)]="selectedScreen1" name="screen">
      <option value="" disabled selected></option>
      <option value="panal1">REQUIREMENTS STATUS</option>
      <option value="panal2">FINAL ACTION</option>
      <option value="panal3">DATES</option>
      <option value="panal4">BENEFITS</option>
      <option value="panal5">OWNER/PAYER</option>
      <option value="panal6">PREMIUM BREAKDOWN</option>
      <option value="panal7">Panal-7</option>
      <option value="panal8">Panal-8</option>
      <option value="panal9">Panal-9</option>
      <option value="panal10">Panal-10</option>
      <option value="panal11">Panal-11</option>
    </select>
    </mat-form-field>
    <button (click)='OpenScreenDrop(selectedScreen1, $event)'>Select</button>
  </div>-->
  <span class="fill-remaining-space"></span>
  <span><input type= text placeholder="Enter Policy number"> </span>
  <span><button mat-button (click)="QueryPolicy()">QueryPolicy</button></span>
</mat-toolbar>